#grid { 
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
    place-items: center;
    height: 100vw;
    
    }

    div{
        
        padding: 10px;
        background-color: orange;

    }